= form_for([:admin, @room_type], html: {class: 'form-horizontal center'}) do |f|
  .form-group
    = f.label :name, class: "col-md-2 control-label"
    .col-md-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :total, 'Capacity', class: "col-md-2 control-label"
    .col-md-10
      = f.text_field :capacity, class: 'form-control'
  .form-group
    = f.label :bed_type, class: "col-md-2 control-label"
    .col-md-10
      = f.text_field :bed_type, class: 'form-control'
  .form-group
    = f.label :size, class: "col-md-2 control-label"
    .col-md-10
      = f.text_field :size, class: 'form-control'
  .form-group
    = f.label :features, 'Features', class: "col-md-2 control-label"
    .col-md-10
      = f.text_field :fake_features, class: 'form-control', value: f.object.features.join(', ')
  .form-group
    = f.label :title, 'Title', class: "col-md-2 control-label"
    .col-md-10
      = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :short_description, class: "col-md-2 control-label"
    .col-md-10
      = f.text_field :short_description, class: 'form-control'
  .form-group
    = f.label :description, class: "col-md-2 control-label"
    .col-md-10
      = f.text_area :description, class: 'form-control'
  .form-group
    = f.label 'Initial Price', class: "col-md-2 control-label"
    .col-md-10
      = f.text_field :init_price, class: 'form-control'
  .form-group
    = f.label 'Price', class: "col-md-2 control-label"
    .col-md-10
      = f.text_field :price, class: 'form-control'

  .form-group
    = f.label 'Images', class: "col-md-2 control-label"
    %h3.small (should be 356x228)
    .col-md-10.col-md-offset-2
      = f.fields_for :room_images do |image_form|
        = render 'room_image_fields', f: image_form
      .links
        = link_to_add_association '+', f, :room_images, class: 'btn btn-info'
  %br
  .actions.col-md-2.col-md-offset-2
    = f.submit class: 'btn btn-success'
