%section.revolution-slider
  .bannercontainer
    .banner
      %ul
        / Slide 1
        = LandingImage.find_each do |landing_image|
          %li{"data-masterspeed" => "1500", "data-slotamount" => "1", "data-transition" => "fade", 'data-delay': 4500}
            / Main Image
            = image_tag landing_image.image.url
            / Layers
            / Layer 1
            - if landing_image.heading
              .caption.sft.revolution-starhotel.bigtext.text-center{"data-easing" => "easeOutBack", "data-speed" => "700", "data-start" => "700", "data-x" => "505", "data-y" => "30"}
                = landing_image.heading
            / Layer 2
            - if landing_image.description
              .caption.sft.revolution-starhotel.smalltext.text-center{"data-easing" => "easeOutBack", "data-speed" => "800", "data-start" => "1000", "data-x" => "605", "data-y" => "105"}
                %span #{landing_image.description}
            / Layer 3
            - if landing_image.url.present?
              .caption.sft.text-center{"data-easing" => "easeOutBack", "data-speed" => "1000", "data-start" => "1200", "data-x" => "775", "data-y" => "175"}
                = link_to 'See Rooms', landing_image.url, class: 'button btn btn-primary btn-lg'
