%div{class: "col-sm-4 isotope-item #{tour.class_tag_list}"}
  .room-thumb
    = image_tag tour.tour_images.primary.image.url, class: 'img-responsive' if tour.tour_images.present?
    .mask
      .main
        %h5.col-xs-9= tour.name
        .price.col-xs-3.text-center
          $ #{price_formatter(tour.price)}
          %span.text-center per person
      .content
        %p
          %span #{tour.title || tour.name}
          = tour.short_description.html_safe
        %a.btn.btn-primary.btn-block{:href => tour_path(tour)} Read More
