.boxed
  = render 'shared/header'
  .row
    .container
      .row.overlay.grad
        .color-overlay
          / Page title
          %ol.breadcrumb
            %li
              = link_to 'Home', root_path
            %li.active
              %strong Tours
  %section.rooms.mt50
    .container
      = Tour.all.each_slice(3).each do |tour_list|
        .row.rooms-row
          - tour_list.each do |tour|
            = render 'tour', tour: tour
= render 'shared/footer'
