.boxed
  = render 'shared/header'
.container.overlay
  .row.overlay.grad
    .color-overlay
      / Page title
      %ol.breadcrumb
        %li
          = link_to 'Home', root_path
        %li.active
          %strong Tours
  %section.rooms.mt50
    .container
      .row
        .nav.nav-pills#filters
          %li.active
            %a{href: '#', 'data-filter' => '*'} All
          - ActsAsTaggableOn::Tag.where('taggings_count > 0').pluck(:name).each do |tag_name|
            %li
              %a{href: '#', 'data-filter' => ".#{tag_name.downcase.gsub(' ', '_')}"}= tag_name
      .mt20
      .all-rooms.isotope
        = @tours.each_slice(3).each do |tour_list|
          - tour_list.each do |tour|
            = render 'tour', tour: tour
= render 'shared/mobile_menu'
= render 'shared/footer'
