.boxed
  = render 'shared/header'
.container.overlay
  .row.overlay.grad
    .color-overlay
      / Page title
      %ol.breadcrumb
        %li
          = link_to 'Home', root_path
        %li
          = link_to 'Tours', rooms_path
        %li.active= @tour.name
  %br
  %br
  .row
    %section.standard-slider.room-slider
      .col-sm-12.col-md-8
        #owl-standard.owl-carousel
          - @tour.tour_images.map do |tour_image|
            - if tour_image.image?
              .item
                %a{"data-rel" => "prettyPhoto[gallery1]", :href => tour_image.image.url}
                  %img.img-responsive{:alt => @tour.name || 'Image', :src => tour_image.image.url}/
    %section#reservation-form.mt50.clearfix
      .col-sm-12.col-md-4
        #reservationform.reservation-vertical.clearfix
          %h2.lined-heading
            %span= @tour.name
          .price
            %h4 Group of:
            = @tour.group
          .price
            %h4 Start:
            = @tour.start_time
          .price
            %h4 Return:
            = @tour.end_time
          .price
            %h4 Price
            \$ #{price_formatter(@tour.price)}
            %span / person
          %button.btn.btn-primary.btn-block#book-btn{:type => "submit"} Book Now
  .row
    / Room Content
    %section
      .container
        .row
          .col-sm-7.mt50
            %h2.lined-heading
              %span Private Tour Pricing
            %table.table.table-striped.mt30
              %tbody
                %tr
                  %th Group:
                  - Tour::PRIVATE_GROUP.each_with_index do |private_group, idx|
                    - if @tour.private_tour_pricing.at(idx).to_f > 0
                      %td.text-center.bold= private_group
                %tr
                  %th Price:
                  - Tour::PRIVATE_GROUP.size.times do |idx|
                    - if @tour.private_tour_pricing.at(idx).to_f > 0
                      %td.text-center= @tour.private_tour_pricing.at(idx)
          .col-sm-5.mt50
            %h2.lined-heading
              %span Tour Included
            %table.table.table-striped.mt30
              %tbody
                -@tour.included.split(',').each do |feature|
                  %tr
                    %td
                      %i.fa.fa-check-circle
                      = feature
        .row.mt20
          .h1.lead= @tour.name
          .col-sm-12
            - idx = 0
            - @tour.tour_images.each do |tour_image|
              - if tour_image.image?
                - idx += 1
                = image_tag tour_image.image.url, class: "#{idx % 2 == 0 ? 'tour-image pull-right' : 'tour-image pull-left'}"
              %p= tour_image.description
/ Other Rooms
-# = render 'shared/rooms', rooms: RoomType.where.not(id: @room.id), title: 'Other Rooms'

= render 'shared/footer'
