/ Background image
%img#background-image{:alt => "background image", :src => asset_url("1200x800.gif")}/
.boxed
  / Top header
  -# = render 'shared/top_header'
  / Header
  = render 'shared/header'
  / Revolution Slider
  = render 'shared/reservation_slider'
  = render 'shared/ups'
  = render 'shared/rooms', rooms: RoomType.favourite, title: 'Guests Favourite Rooms'
  / Gallery
  -# = render 'shared/gallery'
  = render 'shared/slidebox'
  = render 'shared/comments_and_about'
  = render 'shared/reviews_chart'

  / Call To Action
  / Footer
  = render 'shared/footer'
  / Go-top Button
  #go-top
    %i.fa.fa-angle-up.fa-2x
