/ Background image
%img#background-image{:alt => "background image", :src => asset_url("1200x800.gif")}/
.boxed
  = render 'shared/header'
  .container.overlay.grad#book-overlay
    .col-sm-9.visible-md.visible-lg
      .h5.white-color{style: "font-family: 'Kaushan Script'"} Welcome to the Blue River Hotel
    .col-sm-12.visible-xs.visible-sm
      .h5.white-color{style: "font-family: 'Kaushan Script'"} Welcome to the Blue River Hotel
    .col-sm-3.pull-right#book-now-btn.text-center.hidden-xs.hidden-sm.bookable{'data-room-id' => ''}
      .h4{style: 'padding-left: 50px;'}
        .fa.fa-calendar.white-color
        .white-color.reserve-btn RESERVATION
  = render 'shared/mobile_menu'
  / Revolution Slider
  = render 'shared/reservation_slider'
  = render 'shared/amenities'
  = render 'shared/rooms', rooms: RoomType.order(:position), title: 'Guests Favourite Rooms'
  / Gallery
  -# = render 'shared/gallery'
  -# = render 'shared/slidebox'
  = render 'shared/reviews_chart'
  = render 'shared/comments_and_about'

  / Call To Action
  / Footer
  = render 'shared/footer'
  / Go-top Button
  #go-top
    %i.fa.fa-angle-up.fa-2x
  .col-xs-9.col-sm-3.pull-right.toast
    .alert.alert-success.alert-dismissable
      %a.close{href: '#', 'data-dismiss' => :alert, 'aria-label' => 'close'} &times;
      %strong There are #{(5..20).to_a.sample} people are looking at this page right now.
    .alert.alert-success.alert-dismissable
      %a.close{href: '#', 'data-dismiss' => :alert, 'aria-label' => 'close'} &times;
      %strong Most recent booking for our Hotel was #{time_ago_in_words(@last_book_time)} ago
:javascript
  jQuery(document).ready(function(){
    var topOfOthDiv = jQuery("#book-overlay").offset().top;
    jQuery(window).scroll(function() {
      if (jQuery(this).scrollTop() > topOfOthDiv)
      {
        jQuery('#book-overlay').css({ position: 'fixed', top: '0', 'z-index': 9999 });
      }
      else
      {
        jQuery('#book-overlay').css({ position: 'static'});
      }
    });
  })
