.col-sm-4
  .room-thumb
    = image_tag room_type.room_images.primary.image.url(:medium), class: 'img-responsive' if room_type.room_images.present?
    .mask
      .main
        %h5 #{room_type.name} #{"x #{ quantity }" if quantity > 1}
        .price
          $ #{price_formatter(room_type.price)}
          - if room_type.init_price.to_f > 0 && room_type.init_price !=  room_type.price
            %span{style: 'color: orangered; font-size: 15px'}
              %s $ #{price_formatter(room_type.init_price)}
      .content
        %p
          %span #{room_type.title}
          = room_type.short_description
        .row
          - room_type.features.each_slice(3).each do |arr_feature|
            .col-xs-6
              %ul.list-unstyled
                - arr_feature.each do |feature|
                  %li
                    %i.fa.fa-check-circle
                    = feature
        %a.btn.btn-primary.btn-block{:href => room_path(room_type)} Read More
