.col-sm-4.rooms-row
  .room-thumb
    = image_tag room_type.room_images.primary.image.url(:medium), class: 'img-responsive' if room_type.room_images.present?
    .mask
      .main
        %h5.col-sm-9 #{room_type.name} #{"x #{ quantity }" if quantity > 1}
        .price
          - if room_type.init_price.to_f > 0 && room_type.init_price !=  room_type.price
            %span{style: 'color: orangered; font-size: 15px'}
              %s $ #{price_formatter(room_type.init_price)}
          $ #{price_formatter(room_type.price)}
      .content
        %p
          %span #{room_type.title}
          = room_type.short_description
        .row
          - room_type.features.first(6).each_slice(3).each do |arr_feature|
            .col-xs-6
              %ul.list-unstyled
                - arr_feature.each do |feature|
                  %li
                    %i.fa.fa-check-circle
                    = feature
        %a{href: room_path(room_type)}
          .text-center.black.white-color.button READ MORE

