.boxed
  = render 'shared/header'
.container
  .row.overlay.grad
    .color-overlay
      / Page title
      .container
        .row
          .col-sm-12.grad
            %ol.breadcrumb
              %li
                = link_to 'Home', root_path
              %li
                = link_to 'Accomodations', rooms_path
              %li.active= @room.name
  %br
  .row
    / Slider
    %section.standard-slider.room-slider
      .col-sm-12.col-md-8
        #owl-standard.owl-carousel
          - @room.room_images.map do |room_image|
            .item
              %a{:href => room_image.image.url(:medium), class: :swipebox, rel: 'main-gallery'}
                %img.img-responsive.center-image{:alt => @room.name || 'Image', :src => room_image.image.url(:medium)}/
    / Reservation form
    %section#reservation-form.mt50.clearfix
      .col-sm-12.col-md-4
        #reservationform.reservation-vertical.clearfix
          %h2.lined-heading
            %span Room Detail
          .price
            %h4 Area
            %span #{@room.size} m²
          .price
            %h4 Bed Type
            %span= @room.bed_type
          .price
            %h4 Room Capacity
            %span= @room.capacity
          .price
            %h4 Price
            \$ #{price_formatter(@room.price)}
            %span= @room.dormitory? ? 'per person' : 'per night'
          %a{href: 'https://blue-river-hotel-3.hotelrunner.com/bv2/search'}
            .text-center.black.white-color.button BOOK NOW
    / Room Content
    %section
      .container
        .row
          .col-sm-6.mt50
            %h2.lined-heading
              %span Enjoy Your Room
            %p.mt50= @room.description.html_safe
          .col-sm-6.mt50
            %h2.lined-heading
              %span Room Facilities
            %table.table.table-striped.mt30
              %tbody
                - @room.features.first(15).each_slice(3).each do |arr_feature|
                  %tr
                    -arr_feature.each do |feature|
                      %td
                        %i.fa.fa-check-circle
                        = feature
/ Other Rooms
.visible-md.visible-lg
  = render 'shared/rooms', rooms: RoomType.where.not(id: @room.id), title: 'Other Rooms'
.mt30.col-sm-12.visible-xs.visible-sm
  %a{href: rooms_path}
    .col-sm-offset-3.col-sm-6.text-center.black.white-color.button VIEW OTHER ROOMS

= render 'shared/footer'
